<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Web Lab</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" name="viewport">
  <style>
    body {
      margin: 0;
    }
    * {
      font-family: 'PingFang SC','SF UI DISPLAY','Hiragino Sans GB','Source Han Sans CN','Source Han Sans SC','Microsoft YaHei','ST Heiti','SimHei';
      outline: none;
      box-sizing: border-box;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    a {
      text-decoration: none;
    }
  </style>
  <!-- <script type='text/javascript'>
    // 设置rem字号
    ;(function() {
      var docEl = document.documentElement;
      var resize = 'orientationchange' in window ? 'orientationchange' : 'resize';
      var setRem = function() {
        var screenWidth = docEl.clientWidth || window.screen.width || 2750;
        screenWidth = screenWidth > 2750 ? 2750 : screenWidth;
        docEl.style.fontSize = (100 * screenWidth / 2750) + 'px';
      };
      // 屏幕大小变化后重新设置rem字号
      window.addEventListener(resize, setRem, false);
      setRem();
    })();
  </script> -->
</head>
<body>
  <div id="app"></div>
  <script src='<%=js%>'></script>
</body>
</html>
